<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd">

       <beans profile="development">
              <import resource="classpath:spring/store/spring-data-dev.xml"/>
       </beans>

       <beans profile="production">
              <import resource="classpath:spring/store/spring-data-prod.xml"/>
       </beans>

</beans>